/* CSS Document */
#main-nav{
	word-spacing: 45px;
	text-align: center;
	font-size: 30px;
}
#profile-summary{
	text-align: justify;
	padding-left: 110px;
	font-size: 20px;
	line-height: 60px;
	color: white;
}
#profile-summary-mypicture{
	display: flex;
}
#hello-profile-mypicture{
	background-color: black;
		
}
#hello{
	color: white;
}
#myname{
	color: white;
}
#mypicture{
	float: left;
}
#skill-set{
	display: flex;
	column-gap: 25px;
	line-height: 35px;
}
#skill{
	text-align: center;
	background-color: palevioletred;
	color: white;
}
#tech-skill{
	text-align: center;
	background-color: purple;
	color: white;
	
}
#soft-skill{
	color: white;
	text-align: center;
	background-color: black;
}
#list-soft-skill{
line-height: 20px;
text-align: center;
}
#main{
	color: white;
	background-color: black;
}
#contact{
	padding-left: 400px;
	padding-right: 400px;
	border-radius: 20px;
	background-color: gray;
	background-clip: content-box;
	text-align: center;
	font-size: 20px;
	height: 350px;
}
#certification{
	padding-left: 400px;
	padding-right: 400px;
	border-radius: 20px;
	background-color: gray;
	background-clip: content-box;
	text-align: center;
	font-size: 20px;
	height: 350px;
	color: aliceblue;
}

#resume{
	text-align: center;
	font-size: 35px;
}